<div class="widget">
    {{#each partials.weatherContext}}
        <div class="location">
            <h3>{{location.name}}</h3>

               <h3> {{weather}},{{temp}}</h3>
        </div>
    {{/each}}
    <small>Source:
        <a href="https://www.weather.gov/documentation/servies-web-api">Source:</a>
    </small>
</div>