{{#section 'head'}}
<!-- comment -->
<meta name="robots" context="noindex">
{{/section}}

<h1> test page</h1>


{{#section 'scripts'}}
<script>
    document.querySelector('body')
    .insertAdjacentHTML('beforeEnd', '<small>(worcks!)</small>')

</script>
{{/section}}