form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #c8dbf0;
  padding: 20px;
  border-radius: 8px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

textarea,
input[type="text"],
input[type="number"] {
  padding: 8px;
  border: 1px solid #248eff;
  border-radius: 4px;
  background-color: #f1f9fa;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

input[type="number"] {
  width: 4em;
}

button[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

body {
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
  input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#search-results {
  margin-top: 20px;
}

.book {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.book-info {
  margin-bottom: 5px;
}

.book-info-label {
  font-weight: bold;
}

.book-info-value {
  margin-left: 5px;
}

.book-action-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.book-accept {
  background-color: #007bff;
  color: #fff;
}

.book-reject {
  background-color: #dc3545;
  color: #fff;
}