.blue-button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  width: 240px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #f0f8ff; /* Слегка голубой фон */
  padding: 20px;
  border-radius: 10px;
}

.file-input {
  display: none;
}

.welcome-text {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
  width: 480px;
  text-align: center; /* Выравнивание текста по центру */
}