extends ../../../views/layout.pug

block scripts
  script(src="/javascript/search.js", type='module')

block stylesheets
  link(rel='stylesheet', href='stylesheets/style.css')

block content
  html
    head
      style
        body {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          font-family: Arial, sans-serif;
          background-color: #F2F8FD;
        }
        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #FFFFFF;
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }
        h1 {
          color: #0080FF;
          margin-bottom: 20px;
          text-align: center;
        }
        .buttons {
          display: flex;
          justify-content: center;
          margin-top: 20px;
        }
        button {
          padding: 10px 20px;
          margin: 0 10px;
          border: none;
          border-radius: 5px;
          background-color: #0080FF;
          color: #FFFFFF;
          font-size: 16px;
          cursor: pointer;
        }
        button:hover {
          background-color: #0059B3;
        }

    body
      .container
        h1 ПИС подбора литературы на основе расстояния Дамерау-Левенштейна
        .buttons
          button поиск
          button авторизация