extends ../../../views/layout.pug

block scripts
  script(src="/javascript/search.js", type='module')

block content
  form(action="/search", method="POST", id="search-form")
    label(for="keywords") Ключевые слова:
    textarea(id="keywords", value="пложения, росавтодор", name="keywords", rows="3", placeholder="Введите ключевые слова", required )

    label(for="author") Автор:
    input(type="text", id="author", name="author", placeholder="Введите автора")

    label(for="year") Год издания:
    input(type="number", id="year", name="year", min="1900", max="2023", )

    button(type="submit") Поиск

  div(id="search-results")
    
