extends ../../../views/layout.pug

block scripts


block stylesheets
  link(rel='stylesheet', href='../stylesheets/uploadstyles.css')

block content
  form(action="/upload", method="POST", enctype="multipart/form-data", id="upload-form")
    input(type="file", id="file", name="file", class="file-input")
    div(class="button-container")
        button(type="submit", class="blue-button") Загрузить файл
        button(type="button", class="blue-button") Запустить индексирование
        p(class="welcome-text") Для управления процессом загрузки и индексирования файлов используйте соответствующие кнопки выше. Обратите внимание, что файл должен иметь формат .JSON